/* Othello.css */
#score-board{
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  width: 820px;
  height: 100px;
	
}

#game-board {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 820px;
  height: 820px;
}

.square {
  border: 1px solid black;
  width: 100px;
  height: 100px;
}

.black {
  background-color: darkgray;
}

.tile {
  width: 90px;
  height: 90px;
  margin: 5px;
  border-radius: 50%;
  box-shadow: 8px 8px 8px gray;
}

.tile-w {
  background-color: NavajoWhite;
}

.tile-b {
  background-color: black;
}

.square.highlight {
  background-color: yellow;
}

.tile.highlight {
  border: 3px solid yellow;
  width: 80px;
  height: 80px;
}